PORT=5000
NODE_ENV=development
MONGO_URI=your_mongodb_local_uri
JWT_SECRET=your_jwt_secret
GROQ_API_KEY=your_groq_api_key
# For Sharp compression, we use local storage in 'uploads/' directory

MONGODB_USERNAME=your_mongodb_username
MONGODB_PASSWORD=your_mongodb_password
MONGODB_URI=your_mongodb_atlas_uri
